html {}

body {

    margin-left: auto;
    margin-right: auto;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    background-image: url("../image/tolga-ahmetler-JPxeLyfUiw4-unsplash.jpg");
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body::after {
    content: "";
    background-color: #1F1F1F;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    z-index: -1;
}

.content {
    margin-left: 120px;
    margin-right: 120px;
}


.inline-block {
    display: flex;
    height: 80px;
    align-items: self-end;
}


.left {
    width: 50%;
    color: white;
    margin-left: 40px;
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.25vw;
}

.right {
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.right ul {
    list-style: none;
    display: inline-flex;
}

.right li {
    padding: 0 40px;

}

.right a {
    color: white;
    text-decoration: none;
}

.heroImg {
    height: 600px;
}

.heroImg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
}

.about-me p {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: white;
}

.separator img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: nitti-typewriter-cameo, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: #AFFFFF;
}

.case-study img {
    width: 100%;
}

.case-study {
    margin: auto;
    width: 80%;
}

.case-study h3 {
    font-family: calder-dark-grit, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
}

.case-study p {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: white;
}

.case-study button {
    background-color: #30CFD0;
    border: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border-radius: 38px;
}

footer {
    width: 100%;
    position: static;
}

.my-footer {
    display: inline-flex;
    background-color: #000000;
    width: 100%;
    height: 160px;
}

.footer-left {
    width: 50%;
    color: white;
    margin-left: 60px;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .75vw;
    align-self: center;
}

.footer-right {
    width: 50%;
    display: inline-flex;
    padding-right: 40px;
    justify-content: flex-end;
}

.footer-right h3 {
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    color: white;
    padding-right: 80px;
    align-self: center;
}

.footer-right img {
    padding-right: 40px;
    width: 80px;
}

.footer-right a {
    align-self: center;
}